<h2>Demo</h2>

<!-- Custom width -->
<div class="demo">
    <p>
        <button (click)="showPopover({ event: $event, width: '200px' })">200 pixels wide</button>
    </p>
</div>

<!-- Offset -->
<div class="demo">
    <p>
        <button (click)="showPopover({ event: $event, offset: 16 })">Offset 16 pixels</button>
    </p>
</div>

<!-- Animation duration -->
<div class="demo">
    <p>
        <button (click)="showPopover({ event: $event, animationDuration: 300 })">Animation duration 300ms</button>
    </p>
</div>

<!-- Padding -->
<div class="demo">
    <p>
        <button (click)="showPopover({ event: $event, padding: '8px' })">Padding 8 pixels</button>
    </p>
</div>

<!-- No arrow -->
<div class="demo">
    <p>
        <button (click)="showPopover({ event: $event, noArrow: true })">No arrow</button>
    </p>
</div>

<router-outlet></router-outlet>
